body {
    margin: 0;
    display: flex;
}

#left-panel {
    display: flex;
    width: 500px;
    height: 100vh;
    flex-shrink: 0;
    background-image: url("./night-city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo-bg {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    bottom: 80px;
    flex-grow: 1;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.7);
}