@font-face {
    font-family: 'chinese_rocksregular';
    src: url('fonts/chinese_rocks_rg-webfont.woff2') format('woff2'),
         url('fonts/chinese_rocks_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    display: flex;
}

#left-panel {
    display: flex;
    width: 500px;
    height: 100vh;
    flex-shrink: 0;
    background-image: url("./night-city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo-bg {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    bottom: 80px;
    flex-grow: 1;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.7);
}

#logo {
    margin: auto;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.9);
    font-family: "chinese_rocksregular", sans-serif;
}

#right-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    background-color: rgb(227, 227, 227);
}

#form {
    background-color: rgb(234, 234, 234);
    box-shadow: 2px 2px 4px rgb(113, 113, 113);
    padding-left: 50px;
}